body{
    background-color: bisque;
    margin: 0;
}

.superDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maindiv {
    margin-top:40px;
    padding: 10px;
    align-items: center;
}
h1 {
    color: blue;
}